<section>
    <div class="container mx-auto">
        <h1 class="max-w-2xl mx-auto mt-20 mb-5 text-xl text-green-600">Code
            Sent, Please
            check your email for a new verification code</h1>
        <form [formGroup]="verifyCode"
            class="max-w-2xl mx-auto border-1 border-gray-300 rounded-lg shadow p-5 pb-2 py-7 text-center">
            <div class="w-fit mx-auto">
                <p-inputotp [length]="6" [integerOnly]="true"
                    (ngModelChange)="submitForm()"
                    formControlName="resetCode" />
            </div>
            <button type="button" (click)="resendCode()" [disabled]="isResend"
                class="mt-5 cursor-pointer text-mainColor hover:text-white border border-maincolortext-mainColor hover:bg-mainColor focus:ring-4 focus:outline-none focus:ring-mainColor/30 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                Resend
            </button>
        </form>
    </div>
</section>
