<div>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <img
                src="./images/slide1.jpg" alt>
        </ng-template>
        <ng-template carouselSlide>
            <img
                src="./images/slide2.jpg" alt>
        </ng-template>
        <ng-template carouselSlide>
            <img
                src="./images/slide4.jpg" alt>
        </ng-template>
        <ng-template carouselSlide>
            <img
                src="./images/slide5.jpg" alt>
        </ng-template>
    </owl-carousel-o>
</div>