<div class="my-20">
    <h1 class="text-center font-bold text-4xl my-10 font-[Arial]">Our <span
            class="text-mainColor">Categories</span></h1>
    <div class="bg-lightColor py-10">
        <owl-carousel-o [options]="customOptions">

            @for(category of categoryList; track $index){
            <ng-container>
                <ng-template carouselSlide>
                    <div class="flex flex-col justify-center">
                        <div
                            class="mx-auto rounded-full overflow-hidden w-50 h-50"><img
                                class="w-full h-full object-cover"
                                [src]="category.image"></div>
                        <h6
                            class="text-center text-lg font-bold pt-5">{{category.name}}</h6>
                    </div>

                </ng-template>
            </ng-container>
            }
        </owl-carousel-o>
    </div>
</div>
