<footer class="bg-lightColor py-10">
    <div class="w-14/15 mx-auto text-center md:text-start">
        <div class="one mb-10 border-b border-gray-300 pb-7">
            <h2 class="text-2xl font-bold">Get the FreshCart app</h2>
            <p class="text-gray-500">We will send you a link, open it on your
                phone to download the
                app.</p>
        </div>
        <div class="two md:flex pb-7">
            <div class="relative z-0 w-full group text-start">
                <input type="email" name="floating_email"
                    formControlName="email"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-mainColor dark:border-gray-600 dark:focus:border-mainColor focus:outline-none focus:ring-0 focus:border-mainColor peer"
                    placeholder=" " />
                <label for="floating_email"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform  scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-mainColor peer-focus:dark:text-mainColor peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-7">Email
                    address</label>

            </div>
            <div class="ms-5"><button class="submit-btn mt-5 md:mt-0">Share App
                    Link</button></div>
        </div>
        <div
            class="three my-7 md:flex md:justify-between border-b border-gray-300 pb-7">
            <h5
                class="flex items-center justify-center"><span>Payment
                    Partners</span> <img
                    src="./images/master.svg"
                    alt> <img
                    src="./images/visa-1.svg" alt></h5>
            <h5 class="flex items-center justify-center"><span>Get deliveries
                    with
                    FreshCart</span> <img
                    src="./images/app-store.svg"
                    alt class="w-11"> <img
                    src="./images/google-store.svg"
                    alt class="w-11"></h5>
        </div>
        <div class="four text-center">
            <h6>© 2025 <a href="www.linkedin.com/in/mohammed-ashraf0"
                    class="text-mainColor"
                    title="LinkedIn">Ashraf</a> All Rights Reserved</h6>
        </div>
    </div>
</footer>
